body{
	margin: 0px;s
}



.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	margin-top: 10px;
}

img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.5);

}